@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&display=swap');

:root {
    --bg: url('https://images.unsplash.com/photo-1670611554940-c813196be2fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2342&q=80');
}

.container {
    width: 600px;
    aspect-ratio: 16/9;
    padding-inline-end: 1rem;
    background: linear-gradient(to bottom, rgb(50 50 50 / 0.3), rgb(25 50 50 / 0.9)),
        var(--bg) no-repeat center;
    background-size: cover;
    border-radius: 0.75rem;
    display: grid;
}

h1 {
    margin: 0;
    font-size: 5rem;
    place-self: end;

    span {
        --opacity: 20;
        opacity: calc(var(--opacity) * 1%);
    }
}

body {
    height: 100%;
    font-family: 'Eczar', arial;
    padding-block-start: 2rem;
    display: grid;
    justify-content: center;
    background: #111926;
    color: white;
}

/** Resets */

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

img {
    max-width: 100%;
}

ol,
ul,
menu {
    list-style: none;
}
